stages:
  - build
  - verify
  - deploy

variables:
  AWS_S3_BUCKET: ""
  BUILD_ENV: ""

build:
  stage: build
  image: node:20
  script:
    - if [ "$CI_COMMIT_BRANCH" == "main" ]; then export BUILD_CMD=build; elif [ "$CI_COMMIT_BRANCH" == "staging" ]; then export BUILD_CMD=build_staging; else export BUILD_CMD=build_develop; fi
    - echo "Building for the $NODE_ENV environment...."
    - npm run $BUILD_CMD
  artifacts:
    paths:
      - dist/
  only:
    - main
    - develop
    - staging
  before_script:
    - npm install

lint:
  stage: verify
  image: node:20
  script:
    - npm run lint
  allow_failure: true
  before_script:
    - npm install

audit:
  stage: verify
  image: node:20
  script:
    - npm audit
  allow_failure: true
  before_script:
    - npm install

deploy:
  stage: deploy
  image: amazon/aws-cli:latest
  script:
    - if [ "$CI_COMMIT_BRANCH" == "main" ]; then export AWS_S3_BUCKET=geotab.link-labs.com; elif [ "$CI_COMMIT_BRANCH" == "staging" ]; then export AWS_S3_BUCKET=geotab.link-labs.com/experimental; else export AWS_S3_BUCKET=dev-geotab.link-labs.com; fi
    - if [ "$CI_COMMIT_BRANCH" == "main" ]; then export AWS_S3_OPTS="--delete"; else export AWS_S3_OPTS="--delete"; fi
    - echo "Deploying to $AWS_S3_BUCKET with $AWS_S3_OPTS..." 
    # - aws s3 sync dist/ s3://$AWS_S3_BUCKET $AWS_S3_OPTS --acl public-read
    - aws s3 sync dist/index.html s3://$AWS_S3_BUCKET $AWS_S3_OPTS --acl public-read
    - aws s3 sync dist/assets/ s3://$AWS_S3_BUCKET $AWS_S3_OPTS --acl public-read
  only:
    - main
    - develop
    - staging
  environment:
    name: $CI_COMMIT_BRANCH
  before_script:
    - echo "Setting up AWS credentials"
    - mkdir -p ~/.aws
    - echo "[default]" > ~/.aws/credentials
    - echo "aws_access_key_id = $AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
    - echo "aws_secret_access_key = $AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
    - echo "[default]" > ~/.aws/config
    - echo "region = $AWS_DEFAULT_REGION" >> ~/.aws/config